@model IEnumerable<NewsPortal.Domain.Entities.Article>
@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4 text-center">Recent Topic</h1>
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@article.Title</h5>
                        <p class="card-text">@article.Content</p>
                        <p class="card-text">
                            @foreach (var tags in article.ArticleTags)
                            {
                                <span class="badge bg-primary">@tags.Tag.Name</span>
                            }
                        </p>

                        <a asp-action="ArticleView" asp-route-id="@article.Id" asp-controller="Articles" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>